.filter-container{
    width: 50%;
    margin: 1rem;
    
}

.list-item {
    margin: 0 0 0 0px;
    padding: 0;
    width: 100%;
    border-style: none;
    
}

.input-container {
    font-size: small;
    margin: 1rem;
    
}

input {
    box-shadow: none;
    border: 1px solid rgb(206, 206, 206);
    padding: 0.5rem;
    color: #000000;
   
}


.names {
    cursor: pointer;
    list-style: none;
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
}


 .names:focus {
    background: rgb(69, 77, 194);
    color: white;  
} 

.body {
    display: flex;
}


.name-list {
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
    width: 50%;
    height: 10rem;
    margin: 1rem;
    background-color: white;
    color: #000000;
}

.form-container {
    margin-top: 2rem;
     border: 1px solid  #535353; 
    border-radius: 5px;
    width: 500px;  
    color: rgb(0, 0, 0);
    background: rgb(238, 236, 237);
    }

button {
    margin: 1rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(7, 7, 7);
}

.button-create {
  
    color: rgb(0, 0, 0);
}

.button-update {
    
    color: rgb(0, 0, 0);
}

.button-delete {
    
   color: rgb(0, 0, 0);
}

.button-create:hover {
    scale: calc(1.1);
    
    cursor: pointer;
}
.button-update:hover {
    scale: calc(1.1);
    cursor: pointer;
}
.button-delete:hover {
    scale: calc(1.1);
    cursor: pointer;
}